@tailwind base;
@tailwind components;
@tailwind utilities;


.cl-internal-b3fm6y{
    display: none;
}



.cl-formButtonPrimary {
    font-size: 14px;
    text-transform: none;
    background-color: #bd1b5e;
  }
   
  .cl-formButtonPrimary:hover,
  .cl-formButtonPrimary:focus,
  .cl-formButtonPrimary:active {
    background-color: #7a2439;
  }


